apiVersion: apps/v1
kind: Deployment
metadata:
  name: record-service
  labels:
    app: record-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: record-service
  template:
    metadata:
      labels:
        app: record-service
    spec:
      containers:
        - name: record-service
          image: 372813911591.dkr.ecr.us-east-1.amazonaws.com/record-service:latest
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "2000m"
              memory: "2Gi"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
          env:
            - name: AWS_REGION
              value: us-east-1
            - name: S3_BUCKET_NAME
              value: records-experiment-bucket